h2.reader-name {
	font-size: 12px;
	font-size: .75rem;
	padding-bottom: 10px;
	padding-bottom: .625rem;
	margin: 0;
}

.reader-archive {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: stretch;
}

.content article.reader, 
.content article.active-reader,
ul.readers > li {
	width: 25%;
	flex-basis: 280px;
	flex-grow: 0;
	min-width: 200px;
	padding: 0 32px 32px;
	padding: 0 2rem 2rem;
}

.reader-avatar {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	padding-top: 150%;
	overflow: hidden;
	margin: 0 auto 10px;
	position: relative;
}

.reader-info .more-link {
	display: none;
}

.reader-info {
	position: absolute;
	width: 100%;
	bottom: -100%;
	background: rgba( 0, 0, 0, .5 );
	color: #ffffff;
	padding: 16px 16px 0;
	padding: 1rem 1rem 0;
	transition: all 0.5s ease 0s;
}

.reader-avatar:hover .reader-info,
.reader-avatar:focus .reader-info {
	bottom: 0;
}

.content img {
	width: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto 8px;
	margin: 0 auto .5rem;
}

.content .alignleft {
	margin: 0 16px 16px 0;
	margin: 0 1rem 1rem 0;
}

.content .alignright {
	margin: 0 0 16px 16px;
	margin: 0 0 1rem 1rem;
}

.single-reader .content img {
	max-width: 150px;
	float: right;
}

.single-reader .content article.reader {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.single-reader .content article.reader h1 {
	clear: none;
}

.site-content .readers article {
	padding-bottom: 16px;
	padding-bottom: 1rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.reader-focus, 
.focus {
	font-style: italic;
}

h2.reader-name a {
	color: #ffffff;
	text-decoration: none;
}

ul.readers, 
ul.readers > li, 
ul.times, 
ul.times > li {
	list-style: none;
	margin: 0;
}

ul.readers,
ul.times,
ul.times > li {
	padding: 0;
}

ul.readers {
	font-size: 12px;
	font-size: .75rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: stretch;
	border-right: 2px dashed #e2e2e2;
}
ul.readers > li {
	border-left: 2px dashed #e2e2e2;
}

ul.times > li {
	padding: 8px;
	padding: .5rem;
}

.readers input.readings-checkbox {
	width: auto;
	display: inline-block;
	padding: 0;
	margin: 0 16px 0 0;
	margin: 0 1rem 0 0;
}

ul.times > li.available {
	background: #dbe1ea;
}

ul.times > li.unavailable {
	background: #ffe6e5;
	background: #fff;
	padding-left: 42px;
	padding-left: 2.625rem;
}

ul.times > li.reserved {
	background: #ffffcc;
	padding-left: 42px;
	padding-left: 2.625rem;
}

body input.reservation-checkout {
	background: #900;
	color: #fff;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bolder;
}

ul.readers .reader-focus {
	display: none;
}

ul.readers .reader-info {
	bottom: 0;
}

@media all and (max-width: 800px) {
	.reader-info {
		bottom: 0;
	}
}

/**
 * Styles for the Brunch Pro home page
 */
.home-middle {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding-bottom: 32px;
	text-align: center;
}

.home-middle .widget {
	width: 33%;
	flex-basis: 250px;
	min-width: 200px;
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
}

.footer-widgets {
	background: #f5f5f5;
}

.footer-widgets .widget-title {
	font-size: 16px;
	font-size: 1rem;
}